server.context_parameters.authority=https://login.windows.net/
server.context_parameters.tenant=YOUR_TENANT.onmicrosoft.com
clientId=SECRET_AAD_ID
clientSecret=SECRET_AAD_PWD
keyvaultClientId=ID_USER_THAT_CAN_ACCESS
keyvaultClientSecret=USER_THAT_CAN_ACCESS_PWD
tenant=YOUR_TENANT.onmicrosoft.com
authority=https://login.windows.net/
authenticatedpaths=/vmcr8tester
server.contextPath=/
server.session.persistent=true
cosmoDBserviceEndpoint=https://NAME_OF_YOUR_COSMOSDB.documents.azure.com:443
keyvaultURL=https://NAME_OF_YOUR_KV.vault.azure.net/
