apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: provision-job
spec:
  schedule: "15 22,04,10,16 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: unit4-demo-provision
            image: unit4demo.azurecr.io/unit4-demo-provision:618fe00f96dab63de59260aef5f4195fb70f7cc2
          imagePullSecrets:
          - name: draftd-pullsecret
          restartPolicy: OnFailure
