<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Azure VMcr8 test tool</title>
</head>
<style type="text/css">
    body {
     background-image: url(worldmap.png);
     background-repeat: no-repeat;
     background-color: grey;
     background-position: 0px 0px;
    }
  </style>
<body>	<p>
    <br /><br />
		<H3>Click <a th:href="@{/vmcr8tester}">here</a> for accessing the overview</H3>
	</p>

</body>
</html>
