apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: create-job
spec:
  schedule: "15 22,04,10,16 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: cvugrinecapp2-create
            image: cvugrinecapp2.azurecr.io/cvugrinecapp2-create:latest
          imagePullSecrets:
          - name: cvugrinecapp2
          restartPolicy: OnFailure
