#!/bin/bash
echo "registry name:"
read solname
echo "password:"
read password
kubectl create secret docker-registry $solname --docker-server=$solname.azurecr.io --docker-username=$solname --docker-password=$password  --docker-email=chvugrin@microsoft.com
