apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: provision-job
spec:
  schedule: "0 22,04,10,16 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: cvugrinecapp1
            image: cvugrinecapp1.azurecr.io/cvugrinecapp1:latest
          restartPolicy: OnFailure
